@import url("https://fonts.googleapis.com/css2? family= Dancing+Script & family= Fredoka:wght@400;700 & family= Ramaraja & display=swap");
body {
  background: linear-gradient(236.85deg, #1b4f8f 27.26%, #5c83b4 96.03%);
  font-family: "Dancing Script", cursiva;
  font-family: "Dancing Script", cursive;
  font-family: "Fredoka", sans-serif;
  font-family: "Ramaraja", serif;
}
.container {
  background: white;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #464ffa;
  padding: 64px;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
}
.perfil {
  display: flex;
}
.perfil-foto {
  border-radius: 460px;
  max-height: 200px;
}
.titulo {
  margin-left: 16px;
}
.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}
.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}
.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 12px;
  padding: 8px 16px;
  background: #5c83b4;
  border-radius: 100px;
}

.projetos {
  display: flex;
  flex-direction: column;
  align-items: right;
  background: linear-gradient(236.85deg, #1b4f8f 27.26%, #5c83b4 96.03%);
  padding: 32px;
  border-radius: 20px;
}
.sobre {
  display: flex;
  flex-direction: column;
  align-items: right;
  border-radius: 40px;
  margin-top: 32px;
  background: linear-gradient(236.85deg, #1b4f8f 27.26%, #5c83b4 96.03%);
  padding: 32px;
  border-radius: 20px;
  list-style-type: none;
}
.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}
.projetos-item {
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
}
.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}
.sobre-estilo {
  list-style-type: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.sobre-estilo a {
  color: #1c1c1c;
  text-decoration: none;
}
.sobre-titulo {
  list-style: none;
  font-weight: 400;
  font-size: 24px;
}
.dark {
  background: linear-gradient(236.85deg, #375b86 26.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}
.dark .projetos {
  color: #1c1c1c;
}
.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}